.cart{
    background-color: #FFE0B3;
    padding-left: 25px;
    margin-top: 0px;
    padding-top: 65px;
    position: sticky;
    top: 0;
}
.clearCart{
    width: 90%;
    background-color: #FF3030;
    color: white;
    display: flex;
    justify-content: space-between;
}