.revew-item{
    width: 600px;
    height: 110px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.revew-item img{
    width: 90px;
    height: 90px;
    border-radius: 8px;
}
.revew-details p{
    margin: 0 5px;
}

.showOrderInfo{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.revew-item button{
    margin-right: 12px;

}
.delete-button{
    background-color: #f79797;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    color: #FF9900;
}
.order-quantity{
    color: #FF9900;
}
.dlt-icon{
    color: #EB5757;
    width: 30px;
    height: 30px;
}